<!-- <div class="fillSpace"> -->
    <header class="cabecalho">
        <div class="mobile-menu display-flex">
            <div class="container-line-menu">
                <div class="line-menu"></div>
            </div>
            <div class="container-line-menu">
                <div class="line-menu"></div>
            </div>
            <div class="container-line-menu">
                <div class="line-menu"></div>
            </div>
        </div>
        <nav class="navbar display-flex">
            <ul class="menu-cabecalho display-flex">
                <li class="item-menuCabecalho">
                    <a href="http://" target="_self" class="item-link display-flex">
                        <svg viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="tamanho-item-menu">
                            <path d="M18.2592 0.719862C17.6979 0.253347 17.0069 0 16.2947 0C15.5835 0 14.8915 0.253347 14.3302 0.719862L0.915778 11.8571C-0.28758 12.8599 0.374655 14.9182 1.90011 14.9182H3.49467V28.5836C3.49467 29.4897 3.83167 30.3586 4.43229 30.9994C5.03184 31.64 5.84611 32 6.69442 32H13.0949V21.7509C13.0949 20.8448 13.4319 19.9759 14.0325 19.3351C14.6321 18.6945 15.4464 18.3345 16.2947 18.3345C17.143 18.3345 17.9573 18.6945 18.5579 19.3351C19.1574 19.9759 19.4944 20.8448 19.4944 21.7509V32H25.895C26.7433 32 27.5576 31.64 28.1571 30.9994C28.7577 30.3586 29.0947 29.4897 29.0947 28.5836V14.9182H30.6893C32.2126 14.9182 32.8781 12.8599 31.6736 11.8589L18.2592 0.719862Z" class="cor-item-menu"/>
                        </svg>
                        <span class="descricao-menu">Home</span>
                    </a>
                </li>
                <li class="item-menuCabecalho">
                    <a href="http://" target="_self" class="item-link display-flex">
                        <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="tamanho-item-menu">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.6C0 0.716344 0.6986 0 1.56037 0H2.75238C4.52546 0 6.14635 1.02721 6.93929 2.65338L7.20583 3.2H27.3171C30.3117 3.2 32.5363 6.0436 31.8866 9.04126L30.1529 17.0413C29.677 19.2374 27.7774 20.8 25.5833 20.8H11.8656C9.67156 20.8 7.7719 19.2374 7.29594 17.0413L4.75994 5.33936L4.14802 4.08446C3.88371 3.5424 3.3434 3.2 2.75238 3.2H1.56037C0.6986 3.2 0 2.48365 0 1.6ZM8.18666 6.4L10.3424 16.347C10.501 17.0792 11.1342 17.6 11.8656 17.6H25.5833C26.3147 17.6 26.9479 17.0792 27.1064 16.347L28.8403 8.34709C29.0567 7.34787 28.3152 6.4 27.3171 6.4H8.18666ZM12.4829 25.6C11.6212 25.6 10.9226 26.3163 10.9226 27.2C10.9226 28.0837 11.6212 28.8 12.4829 28.8C13.3447 28.8 14.0433 28.0837 14.0433 27.2C14.0433 26.3163 13.3447 25.6 12.4829 25.6ZM7.80184 27.2C7.80184 24.549 9.89765 22.4 12.4829 22.4C15.0682 22.4 17.1641 24.549 17.1641 27.2C17.1641 29.851 15.0682 32 12.4829 32C9.89765 32 7.80184 29.851 7.80184 27.2ZM24.9659 25.6C24.1041 25.6 23.4055 26.3163 23.4055 27.2C23.4055 28.0837 24.1041 28.8 24.9659 28.8C25.8277 28.8 26.5263 28.0837 26.5263 27.2C26.5263 26.3163 25.8277 25.6 24.9659 25.6ZM20.2848 27.2C20.2848 24.549 22.3805 22.4 24.9659 22.4C27.5513 22.4 29.647 24.549 29.647 27.2C29.647 29.851 27.5513 32 24.9659 32C22.3805 32 20.2848 29.851 20.2848 27.2Z" class="cor-item-menu"/>
                        </svg>
                        <span class="descricao-menu">Carrinho</span>
                    </a>
                </li>
                <li class="item-menuCabecalho">
                    <a href="http://" target="_self" class="item-link display-flex">
                        <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="tamanho-item-menu">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M25.0225 12.5113C25.0225 5.60149 19.4212 0 12.5113 0C5.60149 0 0 5.60149 0 12.5113C0 19.4212 5.60149 25.0225 12.5113 25.0225C15.3582 25.0225 17.9849 24.0703 20.0871 22.4689L29.1249 31.5067C29.7826 32.1644 30.8491 32.1644 31.5067 31.5067C32.1644 30.8491 32.1644 29.7826 31.5067 29.1249L22.4689 20.0871C24.0703 17.9849 25.0225 15.3582 25.0225 12.5113ZM12.5113 3.36843C17.5608 3.36843 21.6541 7.46182 21.6541 12.5113C21.6541 15.0365 20.6326 17.3199 18.9764 18.9764C17.3199 20.6326 15.0365 21.6541 12.5113 21.6541C7.46182 21.6541 3.36843 17.5608 3.36843 12.5113C3.36843 7.46182 7.46182 3.36843 12.5113 3.36843Z" class="cor-item-menu"/>
                        </svg>
                        <span class="descricao-menu">Pesquisar</span>
                    </a>
                </li>
                <li class="item-menuCabecalho">
                    <a href="http://" target="_self" class="item-link display-flex">
                        <svg viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="tamanho-item-menu">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C8.552 0 9 0.448 9 1V2.08301C11.838 2.55901 14 5.027 14 8V12.05C15.141 12.282 16 13.291 16 14.5C16 15.881 14.881 17 13.5 17H11C11 18.657 9.657 20 8 20C6.343 20 5 18.657 5 17H2.5C1.119 17 0 15.881 0 14.5C0 13.291 0.859 12.282 2 12.05V8C2 5.027 4.162 2.55901 7 2.08301V1C7 0.448 7.448 0 8 0ZM7 17C7 17.552 7.448 18 8 18C8.552 18 9 17.552 9 17H7ZM2.5 15C2.224 15 2 14.776 2 14.5C2 14.224 2.224 14 2.5 14H3C3.552 14 4 13.552 4 13V8C4 5.791 5.791 4 8 4C10.209 4 12 5.791 12 8V13C12 13.552 12.448 14 13 14H13.5C13.776 14 14 14.224 14 14.5C14 14.776 13.776 15 13.5 15H2.5Z" class="cor-item-menu"/>
                        </svg>
                        <span class="descricao-menu">Notificações</span>
                    </a>
                </li>
            </ul>
            <ul class="menu-cabecalho display-flex">
                <li class="item-menuCabecalho">
                    <a href="http://" target="_self" class="item-link display-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="tamanho-item-menu" viewBox="0 0 512 512">
                            <rect x="48" y="96" width="416" height="320" rx="56" ry="56" style="fill:none; stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                            <line x1="48" y1="192" x2="464" y2="192" style="fill:none; stroke: var(--temporality);stroke-linejoin:round;stroke-width:60px"/>
                            <rect x="128" y="300" width="48" height="20" style="fill:none; stroke: var(--temporality);stroke-linejoin:round;stroke-width:60px"/>
                        </svg>
                        <span class="descricao-menu">Gerir cartões de crédito</span>
                    </a>
                </li>
                <li class="item-menuCabecalho">
                    <a href="http://" target="_self" class="item-link display-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="tamanho-item-menu" viewBox="0 0 512 512">
                            <path d="M256,48c-79.5,0-144,61.39-144,137,0,87,96,224.87,131.25,272.49a15.77,15.77,0,0,0,25.5,0C304,409.89,400,272.07,400,185,400,109.39,335.5,48,256,48Z" style="fill:none; stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><circle cx="256" cy="192" r="48" style="fill:none; stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                        </svg>
                        <span class="descricao-menu">Gerir locais de entrega</span>
                    </a>
                </li>
                <li class="item-menuCabecalho">
                    <a href="http://" target="_self" class="item-link display-flex">
                        <!-- <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="tamanho-item-menu">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M25.0225 12.5113C25.0225 5.60149 19.4212 0 12.5113 0C5.60149 0 0 5.60149 0 12.5113C0 19.4212 5.60149 25.0225 12.5113 25.0225C15.3582 25.0225 17.9849 24.0703 20.0871 22.4689L29.1249 31.5067C29.7826 32.1644 30.8491 32.1644 31.5067 31.5067C32.1644 30.8491 32.1644 29.7826 31.5067 29.1249L22.4689 20.0871C24.0703 17.9849 25.0225 15.3582 25.0225 12.5113ZM12.5113 3.36843C17.5608 3.36843 21.6541 7.46182 21.6541 12.5113C21.6541 15.0365 20.6326 17.3199 18.9764 18.9764C17.3199 20.6326 15.0365 21.6541 12.5113 21.6541C7.46182 21.6541 3.36843 17.5608 3.36843 12.5113C3.36843 7.46182 7.46182 3.36843 12.5113 3.36843Z" class="cor-item-menu"/>
                        </svg> -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="tamanho-item-menu" viewBox="0 0 512 512">
                            <path d="M352.92,80C288,80,256,144,256,144s-32-64-96.92-64C106.32,80,64.54,124.14,64,176.81c-1.1,109.33,86.73,187.08,183,252.42a16,16,0,0,0,18,0c96.26-65.34,184.09-143.09,183-252.42C447.46,124.14,405.68,80,352.92,80Z" style="fill:none; stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                        </svg>
                        <span class="descricao-menu">Gerir pizzas favoritas</span>
                    </a>
                </li>
                <li class="item-menuCabecalho">
                    <a href="http://" target="_self" class="item-link display-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="tamanho-item-menu" viewBox="0 0 512 512">
                            <path d="M262.29,192.31a64,64,0,1,0,57.4,57.4A64.13,64.13,0,0,0,262.29,192.31ZM416.39,256a154.34,154.34,0,0,1-1.53,20.79l45.21,35.46A10.81,10.81,0,0,1,462.52,326l-42.77,74a10.81,10.81,0,0,1-13.14,4.59l-44.9-18.08a16.11,16.11,0,0,0-15.17,1.75A164.48,164.48,0,0,1,325,400.8a15.94,15.94,0,0,0-8.82,12.14l-6.73,47.89A11.08,11.08,0,0,1,298.77,470H213.23a11.11,11.11,0,0,1-10.69-8.87l-6.72-47.82a16.07,16.07,0,0,0-9-12.22,155.3,155.3,0,0,1-21.46-12.57,16,16,0,0,0-15.11-1.71l-44.89,18.07a10.81,10.81,0,0,1-13.14-4.58l-42.77-74a10.8,10.8,0,0,1,2.45-13.75l38.21-30a16.05,16.05,0,0,0,6-14.08c-.36-4.17-.58-8.33-.58-12.5s.21-8.27.58-12.35a16,16,0,0,0-6.07-13.94l-38.19-30A10.81,10.81,0,0,1,49.48,186l42.77-74a10.81,10.81,0,0,1,13.14-4.59l44.9,18.08a16.11,16.11,0,0,0,15.17-1.75A164.48,164.48,0,0,1,187,111.2a15.94,15.94,0,0,0,8.82-12.14l6.73-47.89A11.08,11.08,0,0,1,213.23,42h85.54a11.11,11.11,0,0,1,10.69,8.87l6.72,47.82a16.07,16.07,0,0,0,9,12.22,155.3,155.3,0,0,1,21.46,12.57,16,16,0,0,0,15.11,1.71l44.89-18.07a10.81,10.81,0,0,1,13.14,4.58l42.77,74a10.8,10.8,0,0,1-2.45,13.75l-38.21,30a16.05,16.05,0,0,0-6.05,14.08C416.17,247.67,416.39,251.83,416.39,256Z" style="stroke-linecap:round;stroke-linejoin:round;stroke-width:32px; stroke: var(--temporality); fill: none;"/>
                        </svg>
                        <span class="descricao-menu">Configurações</span>
                    </a>
                </li>
            </ul>
            <ul class="menu-cabecalho display-flex">
                <li class="item-menuCabecalho">
                    <a href="http://" target="_self" class="item-link display-flex">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" class="tamanho-item-menu" viewBox="0 0 512 512">
                            <path d="M85.57,446.25H426.43a32,32,0,0,0,28.17-47.17L284.18,82.58c-12.09-22.44-44.27-22.44-56.36,0L57.4,399.08A32,32,0,0,0,85.57,446.25Z" style="fill:none; stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                            <path d="M250.26,195.39l5.74,122,5.73-121.95a5.74,5.74,0,0,0-5.79-6h0A5.74,5.74,0,0,0,250.26,195.39Z" style="fill:none; stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                            <path d="M256,397.25a20,20,0,1,1,20-20A20,20,0,0,1,256,397.25Z" style="fill: var(--temporality);"/>
                        </svg> --> <!--Podemos usar este-->
                        <svg xmlns="http://www.w3.org/2000/svg" class="tamanho-item-menu" viewBox="0 0 512 512">
                            <path d="M370,378c28.89,23.52,46,46.07,46,86" style="fill:none; stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                            <path d="M142,378c-28.89,23.52-46,46.06-46,86" style="fill:none; stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                            <path d="M384,208c28.89-23.52,32-56.07,32-96" style="fill:none; stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                            <path d="M128,206c-28.89-23.52-32-54.06-32-94" style="fill:none; stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                            <line x1="464" y1="288.13" x2="384" y2="288.13" style="fill:none; stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                            <line x1="128" y1="288.13" x2="48" y2="288.13" style="fill:none; stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                            <line x1="256" y1="192" x2="256" y2="448" style="fill:none; stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                            <path d="M256,448h0c-70.4,0-128-57.6-128-128V223.93c0-65.07,57.6-96,128-96h0c70.4,0,128,25.6,128,96V320C384,390.4,326.4,448,256,448Z" style="fill:none; stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                            <path d="M179.43,143.52A49.08,49.08,0,0,1,176,127.79,80,80,0,0,1,255.79,48h.42A80,80,0,0,1,336,127.79a41.91,41.91,0,0,1-3.12,14.3" style="fill:none; stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                        </svg>  <!--Ou ainda usar este-->
                        <span class="descricao-menu">Relatar erro</span>
                    </a>
                </li>
                <li class="item-menuCabecalho">
                    <a href="http://" target="_self" class="item-link display-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="tamanho-item-menu" viewBox="0 0 512 512">
                            <path d="M208,352H144a96,96,0,0,1,0-192h64" style="fill:none; stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:36px"/>
                            <path d="M304,160h64a96,96,0,0,1,0,192H304" style="fill:none; stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:36px"/>
                            <line x1="163.29" y1="256" x2="350.71" y2="256" style="fill:none; stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:36px"/>
                        </svg>                        
                        <span class="descricao-menu">Convidar amigos</span>
                    </a>
                </li>
                <li class="item-menuCabecalho">
                    <a href="http://" target="_self" class="item-link display-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="tamanho-item-menu" viewBox="0 0 512 512">
                            <path d="M304,336v40a40,40,0,0,1-40,40H104a40,40,0,0,1-40-40V136a40,40,0,0,1,40-40H256c22.09,0,48,17.91,48,40v40" style="fill:none;stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><polyline points="368 336 448 256 368 176" style="fill:none;stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="176" y1="256" x2="432" y2="256" style="fill:none;stroke: var(--temporality);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                        </svg>
                        <span class="descricao-menu">Sair da conta</span>
                    </a>
                </li>
            </ul>
            <div class="registar-login">
                <div class="container-criarConta display-flex">
                    <div class="criar-conta">
                        <button class="btnCriarConta" type="button">Criar Conta</button>
                    </div>
                    <div class="login">
                        <button class="btnLogin" type="button">
                            <svg viewBox="0 0 26 31" fill="none" xmlns="http://www.w3.org/2000/svg" class="tamanho-item-menu">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.905 3.1C9.48088 3.1 6.70505 5.87583 6.70505 9.3C6.70505 12.7242 9.48088 15.5 12.905 15.5C16.3293 15.5 19.105 12.7242 19.105 9.3C19.105 5.87583 16.3293 3.1 12.905 3.1ZM18.5485 16.6926C20.7712 14.9931 22.205 12.314 22.205 9.3C22.205 4.16375 18.0412 0 12.905 0C7.7688 0 3.60505 4.16375 3.60505 9.3C3.60505 12.314 5.03881 14.9931 7.26151 16.6926C5.70303 17.382 4.26924 18.3576 3.04091 19.5858C2.09242 20.5344 1.29454 21.6054 0.66279 22.7619C-0.502985 24.8959 -0.0275598 27.0718 1.28532 28.6105C2.54919 30.0917 4.57383 31 6.70505 31H19.105C21.2362 31 23.2609 30.0917 24.5247 28.6105C25.8377 27.0718 26.3131 24.8959 25.1474 22.7619C24.5156 21.6054 23.7176 20.5344 22.7692 19.5858C21.5408 18.3576 20.1071 17.382 18.5485 16.6926ZM12.905 18.6C10.0275 18.6 7.26771 19.7431 5.23293 21.778C4.49513 22.5158 3.87465 23.3487 3.38333 24.248C2.90753 25.119 3.06103 25.9157 3.6435 26.5983C4.27497 27.3383 5.4121 27.9 6.70505 27.9H19.105C20.398 27.9 21.5351 27.3383 22.1666 26.5983C22.749 25.9157 22.9025 25.119 22.4268 24.248C21.9355 23.3487 21.315 22.5158 20.5772 21.778C18.5423 19.7431 15.7826 18.6 12.905 18.6Z" class="cor-item-menu cor-extra"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
<!-- </div> -->