@import url(./config.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 0.3s;
}
body {
	overflow-x: hidden !important;
	min-height: 100vh !important;
	width: 100% !important;
}
::-webkit-scrollbar {
	display: none;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}
input,
button {
	outline: none;
	border: none;
}

button {
	cursor: pointer;
}
