@keyframes showFake {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fundoTextoAnimado {
	0%,
	100% {
		clip-path: polygon(
			0% 17%,
			14% 18%,
			28% 21%,
			38% 28%,
			48% 34%,
			61% 38%,
			76% 34%,
			90% 31%,
			100% 31%,
			100% 100%,
			79% 81%,
			63% 75%,
			46% 77%,
			34% 81%,
			22% 85%,
			10% 88%,
			0 86%
		);
	}
	50% {
		clip-path: polygon(
			0 46%,
			6% 33%,
			20% 26%,
			34% 23%,
			48% 22%,
			61% 18%,
			75% 17%,
			89% 11%,
			100% 0,
			100% 71%,
			86% 74%,
			70% 81%,
			53% 84%,
			36% 84%,
			20% 88%,
			8% 94%,
			0 100%
		);
	}
}
