.fillSpace {
	width: 100%;
}
.cabecalho {
	position: fixed;
	z-index: 400;
	width: 100%;
}
.cabecalho,
.navbar,
.fillSpace {
	height: 80px;
}
.navbar {
	max-width: 1350px;
	padding: 0 0.5rem;
	margin: auto;

	gap: 50px;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.menu-cabecalho,
.container-criarConta {
	flex-wrap: wrap;
	padding: 0.3rem;
	border-radius: var(--mediumBorder);
}
.menu-cabecalho {
	width: 350px;
	justify-content: space-between;
}
.menu-cabecalho:nth-child(n + 3) {
	display: none;
}
.container-criarConta {
	border-radius: var(--totalBorder);
}
.btnCriarConta {
	width: 110px;
	height: 40px;
	background-color: transparent;
	border: 2px solid var(--secundaryLight);
	color: var(--secundaryLight);
	border-radius: var(--totalBorder);
}
.btnLogin {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #fff;
}
.tamanho-item-menu {
	width: 25px;
	height: 25px;
}
.cor-item-menu {
	stroke-width: 5px;
	fill: var(--secundaryLight);
}
.cor-extra {
	fill: #000;
}
.item-menuCabecalho {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--mediumBorder);
}
.item-link {
	gap: 12px;
	position: relative;
	padding: 0.5rem 0.7rem;
	border-radius: var(--mediumBorder);
	transition: 0.3s ease-in;
}
.mobile-menu {
	display: none;
	width: 75px;
	height: 100%;

	gap: 0;
	flex-direction: column;

	border-radius: var(--mediumBorder);
	padding: 0.2rem 0.1rem;
	cursor: pointer;
}
.container-line-menu {
	width: 55px;
	height: 12px;
	margin: 1px;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0;
}
.line-menu {
	width: 22px;
	height: 3px;
	margin: 10px;
	border-radius: var(--totalBorder);
	background-color: var(--secundaryLight);
}
.container-line-menu:nth-child(1) {
	border-radius: 10px 10px 0 0;
	justify-content: flex-end;
}
.container-line-menu:nth-child(2) {
	justify-content: flex-start;
}
.container-line-menu:nth-child(3) {
	border-radius: 0 0 10px 10px;
	justify-content: flex-end;
}
.descricao-menu {
	color: var(--secundaryColorText);
	font-size: 0;
	text-transform: capitalize;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: 500;
}
.container-opcoes-menu {
	padding: 0.5rem 0;
	gap: 0;
}
.item-descricao-menu {
	width: 100%;
	border-radius: var(--mediumBorder);
}
.descricao-opcao-menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	font-weight: 900;
	padding: 0.5rem 0.7rem;
	border-radius: var(--mediumBorder);
}
.container-close-menu {
	display: none;
	width: 100%;
	padding: 0.5rem 0;
	border-radius: 10px 10px 0 0;
}
.div-clone-one {
	transform: rotate(45deg) translate(3%, 0);
}
.div-clone-two {
	transform: translate(0%, -8%);
}
.div-clone-three {
	transform: rotate(-45deg) translate(5%, -11%);
}
.div-container-close div {
	background-color: #000;
}
