.app {
	width: 100%;
	background-color: var(--secundaryLight);
}
.container-welcome {
	width: 100%;
	height: 100vh;
}
.welcome {
	position: absolute;
	top: 0;
	width: 100%;
	height: 475px;
	border-radius: 0 0 10px 10px;
	background-image: url(/images/Menu/ImagemFundoMenu.svg);
}
.logo {
	position: relative;
	width: 100%;
	height: calc(100% - 80px);
	padding: 0 5rem;
	justify-content: flex-start;
}
.link-logo {
	position: absolute;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-transform: uppercase;
	font-size: 4rem;
	letter-spacing: 4px;
	text-align: center;
	font-weight: bolder;
	color: white;
	margin: 0 0 129px 0;
}
.link-logo:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #fff;
}
.link-logo:nth-child(2) {
	color: #fff;
	animation: fundoTextoAnimado 4s ease-in infinite alternate-reverse;
}
.container-tools {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: calc(100% - 365px);
	background-color: var(--secundaryLight);
}
.container-tools,
.tools {
	border-radius: 30px 30px 0 0;
}
.tools {
	height: 65px;
	padding: 0.7rem 0;
	gap: 5px;
	flex-direction: column;
}
.seta-tools {
	flex-direction: column;
	background-color: transparent;
	width: 150px;
	height: 35px;
	border-radius: var(--mediumBorder);
}
.txtSugestoes {
	font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: 510;
	font-size: 1.3rem;
	color: var(--primaryLight);
}
.line-tools {
	display: none;
	width: 50px;
	height: 5px;
	border-radius: var(--totalBorder);
	background-color: var(--primaryLight);
}
.container-search {
	display: none;
	width: 100%;
}
.box-search {
	position: relative;
	margin: auto;
	padding: 0.5rem;
	border-radius: var(--mediumBorder);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}
.txtPesquisaPizza {
	width: 100%;
	height: 50px;
	padding: 0 0.5rem;
	font-size: 0.9rem;
	border-radius: var(--mediumBorder);
}
.box-search::after {
	content: '';
	position: absolute;
	left: 10px;
	height: calc(100% - 35px);
	padding: 0.7px;
	background-color: #000;
}
.box-search {
	min-width: 350px;
	width: calc(100% - 325px);
}
.btnPesquisarPizza {
	width: 65px;
	height: 50px;
	border-radius: var(--mediumBorder);
	background-color: var(--primaryLight);
}
.container-sugestoes {
	/* padding: 2rem 0; */
	/* overflow-y: auto; */

	gap: 10px;
	flex-wrap: wrap;

	width: 100%;
	height: calc(100% - 65px);
	padding: 0.7rem 0;
	scrollbar-width: none;
}
.card-sugestao:first-child {
	margin: 0 0 15px 0;
}
.card-sugestao {
	position: relative;
	z-index: 100;
	width: 455px;
	height: 130px;
	border-radius: var(--cardSugestaoBorder);
	grid-template-columns: repeat(3, 1fr);
	background-color: var(--secundaryLight);
	box-shadow: 0px 0px 25.1142px rgba(0, 0, 0, 0.14);
}
.card-sugestao .foto-pizza,
.classificacao {
	gap: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.classificacao {
	justify-content: flex-start;
}
.container-carrinho-sugestao {
	position: relative;
	height: 130px;
	border-radius: 0 26.9081px 26.9081px 0;
	background-color: transparent !important;
}
.carrinho-sugestao {
	width: 74px;
	height: 58px;

	position: absolute;
	bottom: 0;
	right: 0;

	background-color: #f24e1e;
	border-radius: 10px 0 26.9081px 0;
}
.detalhes-pizza {
	border-radius: var(--mediumBorder);
	flex-direction: column;
	background-color: transparent !important;
}
.images-estrela-avalicao {
	gap: 2px;
}
.title,
.price {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--primaryColorText);
}
.title,
.price {
	font-size: 1.2rem;
}
.avalicao-numero {
	color: #716c6c;
}
.foto-pizza {
	height: 100px;
	margin: auto;
	border-radius: var(--mediumBorder);
}
.foto-pizza > img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.box-sugestoes {
	position: relative;
}
.informacao-pizza::after {
	content: '';
	position: absolute;
	bottom: -13px;
	left: calc(100% - 240px);
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	background-color: var(--secundaryLight);
	/* border-bottom: 1px solid var(--primaryLight);
	border-right: 1px solid var(--primaryLight); */
	padding: 0.5rem;
}
.informacao-pizza {
	position: absolute;
	z-index: 500;
	top: calc(100% - 526px);
	width: 100%;
	height: 375px;
	padding: 0.5rem;
	background-image: url(/images/Menu/BackgroundSignalPizza.png);
	background-color: var(--secundaryLight);
	/* border: 1px solid var(--primaryLight); */
	border-radius: var(--mediumBorder);
	transition: 0.3s ease-in;

	opacity: 0;
	visibility: hidden;
}
.descricao-texto-pizza {
	position: relative;
	z-index: 110;
	overflow-y: auto;
	height: 150px;
	padding: 0.3rem;
	border-radius: var(--mediumBorder);
}
.flex-left {
	justify-content: flex-start;
	align-items: flex-start;
}
.change-text-1,
.change-text-2,
.change-text-3,
.texto-descricao-pizza {
	text-transform: capitalize;
	font-family: Helvetica, sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1rem;
	color: var(--blackColorText);
}
.change-text-2 {
	font-size: 1.2rem;
}
.change-text-3 {
	font-size: 1.2rem;
	color: var(--primaryColorText);
}
.texto-descricao-pizza {
	font-size: 0.9rem;
	text-transform: none;
	color: rgba(185, 180, 180);
	text-align: justify;
}
.container-btns-actions {
	width: 100%;
	background-color: var(--secundaryLight);
	padding: 0.5rem;
	justify-content: space-between;
}
.svg-send {
	stroke-width: 5px;
	fill: var(--primaryLight);
	transform: translate(-5%, 32%) rotate(-36deg);
}
.count-quantidade-pizza {
	font-size: 1rem;
	font-weight: 500;
	font-family: Helvetica, sans-serif;
	color: var(--blackColorText);
}
.add-remove {
	place-items: center;
	grid-template-columns: repeat(3, 1fr);
}
.btn-action {
	width: 50px;
	height: 40px;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
	background-color: var(--secundaryLight);
	border-radius: 5px;
}

.change-detalhes-pizza {
	flex-direction: row;
	justify-content: space-between;
}
.change-btn-action {
	width: auto;
}

.svg-loved {
	fill: none;
	stroke: var(--primaryLight);
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 32px;
}
.svg-loved.actived {
	fill: var(--primaryLight);
}
.box-sugestoes:last-child {
	display: none;
}

/* ------------------------------ */

.comentarios-usuarios {
	width: 100%;
	height: 100vh;
}
.container-comentario {
	width: 505px;
	height: 265px;
	padding: 0.5rem 2.5rem;
	border-radius: var(--mediumBorder);
	background-color: var(--secundaryLight);
	box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.2);
}
.dados-usuario-comentario {
	gap: 25px;
	justify-content: flex-start;
}
.informacao-usuario-comentario {
	align-items: flex-start;
	flex-direction: column;
}
.img-comentador {
	width: 85px;
	height: 85px;
	border-radius: 50%;
}
.txt-comentario {
	text-align: justify;
	font-size: 0.9em;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}
.box-comentario {
	width: 100%;
	margin: 2px;
	padding: 0.5rem 1rem;
}
.box-comentario:first-child {
	justify-content: flex-end;
}
.box-comentario:nth-child(2) {
	justify-content: flex-start;
}
.box-comentario:last-child {
	justify-content: flex-end;
}
