.app {
	position: relative;
	width: 100%;
	background-color: orange;
}
.container-welcome {
	width: 100%;
	height: 100vh;
	background-color: red;
}
.welcome {
	position: absolute;
	top: 0;
	width: 100%;
	height: 475px;
	border-radius: 0 0 10px 10px;
	background-image: url(/images/Menu/ImagemFundoMenu.svg);
}
.logo {
	position: relative;
	width: 100%;
	height: calc(100% - 80px);
	padding: 0 5rem;
	justify-content: flex-start;
}
.link-logo {
	position: absolute;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-transform: uppercase;
	font-size: 4rem;
	letter-spacing: 4px;
	text-align: center;
	font-weight: bolder;
	color: white;
}
.link-logo:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #fff;
}
.link-logo:nth-child(2) {
	color: #fff;
	animation: fundoTextoAnimado 4s ease-in infinite alternate-reverse;
}
@keyframes fundoTextoAnimado {
	0%,
	100% {
		clip-path: polygon(
			0% 17%,
			14% 18%,
			28% 21%,
			38% 28%,
			48% 34%,
			61% 38%,
			76% 34%,
			90% 31%,
			100% 31%,
			100% 100%,
			79% 81%,
			63% 75%,
			46% 77%,
			34% 81%,
			22% 85%,
			10% 88%,
			0 86%
		);
	}
	50% {
		clip-path: polygon(
			0 46%,
			6% 33%,
			20% 26%,
			34% 23%,
			48% 22%,
			61% 18%,
			75% 17%,
			89% 11%,
			100% 0,
			100% 71%,
			86% 74%,
			70% 81%,
			53% 84%,
			36% 84%,
			20% 88%,
			8% 94%,
			0 100%
		);
	}
}
.container-tools {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: calc(100% - 385px);
	background-color: var(--secundaryLight);
}
.container-tools,
.tools {
	border-radius: 30px 30px 0 0;
}
.tools {
	height: 65px;
	gap: 5px;
	flex-direction: column;
}
.txtSugestoes {
	font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: 510;
	font-size: 1.3rem;
	color: var(--primaryLight);
}
.line-tools {
	width: 50px;
	height: 5px;
	border-radius: var(--totalBorder);
	background-color: var(--primaryLight);
}
.container-sugestoes {
	gap: 10px;
	flex-wrap: wrap;
	/* place-items: center;
	grid-template-columns: repeat(3, 1fr); */

	width: 100%;
	height: calc(100% - 65px);
}
.card-sugestao:first-child {
	margin: 0 0 15px 0;
}
.card-sugestao {
	width: 455px;
	height: 130px;
	border-radius: var(--cardSugestaoBorder);
	grid-template-columns: repeat(3, 1fr);
	background-color: var(--secundaryLight);
	box-shadow: 0px 0px 25.1142px rgba(0, 0, 0, 0.14);
}
.foto-pizza,
.classificacao {
	gap: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.classificacao {
	justify-content: flex-start;
}
.container-carrinho-sugestao {
	position: relative;
	height: 130px;
	border-radius: 0 26.9081px 26.9081px 0;
	background-color: transparent !important;
}
.carrinho-sugestao {
	width: 74px;
	height: 58px;

	position: absolute;
	bottom: 0;
	right: 0;

	background-color: #f24e1e;
	border-radius: 10px 0 26.9081px 0;
}
.detalhes-pizza {
	flex-direction: column;
	background-color: transparent !important;
}
.images-estrela-avalicao {
	gap: 2px;
}
.title,
.price {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--primaryColorText);
}
.title,
.price {
	font-size: 1.2rem;
}
.avalicao-numero {
	color: #716c6c;
}
.foto-pizza {
	height: 100px;
	margin: auto;
	border-radius: var(--mediumBorder);
}
.foto-pizza > img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
