@media screen and (max-width: 940px) {
	.card-sugestao {
		width: 350px;
	}
	.title,
	.price {
		font-size: 1rem;
	}
	.mobile-menu {
		display: flex;
	}
	.navbar {
		min-width: 350px;
		height: calc(100% - 80px);

		position: fixed;
		z-index: 999;

		gap: 0;
		align-items: flex-start;
		justify-content: space-around;
		flex-direction: column;

		background-color: var(--secundaryLight);
		border-radius: 0 10px 0 0;
		backdrop-filter: blur(15px);
		transform: translateX(-100%);
		transition: 0.3s ease-in;
	}
	.item-menuCabecalho {
		opacity: 0;
	}
	.menu-cabecalho,
	.container-criarConta {
		flex-direction: column;
	}
	.menu-cabecalho {
		box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.05);
		align-items: flex-start;
		background-color: var(--secundaryLight);
	}
	.menu-cabecalho:nth-child(n + 2) {
		display: flex;
	}
	.descricao-menu {
		font-size: 1rem;
		color: var(--temporality);
	}
	.btnLogin {
		width: 110px;
		height: 40px;
		border-radius: var(--totalBorder);
	}
	.cor-item-menu.actived {
		fill: var(--temporality);
	}
	.btnLogin {
		background-color: var(--temporality);
	}
	.cor-extra {
		fill: var(--secundaryLight) !important;
	}
	.btnCriarConta {
		border: 2px solid var(--temporality);
		color: var(--temporality);
	}
}

@media screen and (max-width: 1384px) and (min-width: 709px) {
	/* Ness trecho de codigo, estou criando um intervalo entre 1384 e 709 */
	.box-sugestoes:last-child {
		display: block;
	}
}
