/* Header */

.navbar.actived {
	transform: translateX(0);
}

/* Home */

.container-tools.actived {
	height: calc(100% - 90px);
}
.whenActivedHide.hide {
	display: none;
}
.container-tools.actived .seta-cima {
	display: none;
}
.container-tools.actived .line-tools {
	display: block;
}

.container-tools.actived .container-sugestoes,
.container-tools.actived .txtSugestoes {
	display: none;
	font-size: 0;
}
.container-tools.actived .container-search {
	display: block;
}
.card-sugestao.actived .informacao-pizza {
	opacity: 1 !important;
	visibility: visible !important;
}
