<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria Wakanda Forever</title>
    <link rel="stylesheet" href="/stylesheet/allInOne.css">
    <!-- <link rel="stylesheet" href="/stylesheet/header.css">
    <link rel="stylesheet" href="/stylesheet/menu.css"> -->
    <!-- <link rel="stylesheet" href="/stylesheet/config.css">
    <link rel="stylesheet" href="/stylesheet/default.css"> -->
    <!-- <script src="/script/header.js" defer></script> -->
    <!-- <script src="/public/script/body.js"></script>
    <script src="/public/script/footer.js"></script> -->
</head>
<body>
    <%-include('partials/menu.ejs')%>
</body>
</html>